RewriteEngine On

ErrorDocument 404 /404.php

RewriteRule ^$ index.php?page=news
RewriteRule ^setting$ index.php?page=setting
RewriteRule ^gallery$ index.php?page=gallery
# RewriteRule ^books$ index.php?page=books

RewriteRule ^auth$ index.php?page=auth