Options -Indexes

RewriteEngine On

ErrorDocument 404 /index.php?page=404

RewriteRule ^$ index.php?page=index
RewriteRule ^blog$ index.php?page=blog
RewriteRule ^blog/([0-9]+)+$ index.php?page=post&id=$1
RewriteRule ^tag/([a-zA-Z0-9_-]+)$ index.php?page=tag&tag=$1

RewriteRule ^santa$ index.php?page=santa
RewriteRule ^add$ /index.php?page=404

RewriteRule ^root$ /app/adminer.php