@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
  background-color: #050505;
}
a {
  text-decoration: none;
  color: crimson;
}
a:hover {
  color: white;
  text-shadow: 0 0 25px #DC113E;
}
.container {
  margin: 0 auto;
  margin-top: 50px;
  min-width: 100px;
  max-width: 960px;
  padding-left: 25px;
  padding-right: 25px;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
a.title,
span.title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 300;
  color: #DC113E;
  transition: 0.25s ease;
}
a.title:hover {
  color: white;
  text-shadow: 0 0 25px #DC113E;
}
.post {
  font-family: 'Roboto', sans-serif;
}
.post .date {
  text-align: right;
  float: right;
}
.post .date_center {
  text-align: center;
  color: #eee;
}
.post .title {
  color: #eee;
}
.post .text {
  color: #aaa;
  font-weight: 100;
}
.post .text.blog img {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  transition: 0.25s ease;
}
.post .text.blog img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.post .text.post img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.post .tag {
  text-decoration: none;
}
.back {
  text-align: center;
}
