nav {
  border-bottom: 1px solid #eee;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.66);
}
nav a {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 12px;
  transition: 0.25s ease;
}
nav a:hover {
  color: white;
  background-color: #555;
}
nav a.logout {
  color: crimson;
}
nav a.logout:hover {
  color: white;
}
