<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>August Raido Blog</title>
    <meta name="description" content="Augustraido site with blog and art" />
    <meta name="keywords" content="Augustraido, august, raido, art, blog" />
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet" />
    <link rel="stylesheet" href="../style/blog.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>
            <a href="/" class="title">augustraido</a>
            <hr>
            <span class="title">blog</span>
        </h1>
        <?php foreach($posts as $post): ?>
            <div class="post">
                <h2 class="title"><a href="/blog/<?php echo $post['id'] ?>"><?php echo $post['title'] ?></a> <span class="date"><?php echo $post['date'] ?></span></h2>
                <p class="text blog"><?php echo $post['text'] ?></p>
                <p class="text">Tag: <a href="/tag/<?php echo $post['tag'] ?>" class="tag"><?php echo $post['tag'] ?></a></p>
                <hr />
            </div>
        <?php endforeach;?>
        <?php if( $_GET['page'] == 'tag' ): ?>
            <p class="back"><a href="/blog">« back</a></p>
        <?php endif; ?>
    </div>
    
    <script>
        $('img').on("click", function(){
//            var test = $(this).attr('src');
//            alert(test);
//            alert( this.attr('src') );
            window.open( $(this).attr('src'), '_blank');
        });
    </script>
</body>
</html>