<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>August Raido Blog</title>
    <meta name="description" content="Augustraido site with blog and art" />
    <meta name="keywords" content="Augustraido, august, raido, art, blog" />
    <link
      href="https://fonts.googleapis.com/css?family=Bellefair"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/santa.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="/">augustraido</a>
        <span>/ secret_santa</span>
      </h1>
      <div class="post">
        <h2>Привет</h2>
        <p>
          Эта страница была создана, чтобы покончить с несовершенством мира и
          наконец-то провести "Тайного санту"!
        </p>
        <hr />
      </div>
      <img class="santa" src="../img/santa.jpg" />
      <form action="../add" method="post">
        <p>Имя:</p>
        <input type="text" name="name" />
        <br />
        <p>Мыло:</p>
        <input type="email" name="email" />
        <br />
        <p>Пожаления к подарку:</p>
        <textarea name="wishes"> </textarea>
        <br />
        <br />
        <input class="submit" type="submit" value="Готово!" />
      </form>
    </div>
  </body>
</html>
