<div class="container">
  <h1>Сеттинг</h1>
  <div class="content races">
    <div class="box">
      <div class="col">
        <h2>Proter</h2>
        <ul>
          <li>Serter</li>
          <li>Eter</li>
        </ul>
      </div>
      <div class="col">
        <h2 class="center">Saxi</h2>
      </div>
      <div class="col">
        <h2 class="center">Axomir</h2>
      </div>
      <div class="col">
        <h2 class="center">Gialan</h2>
      </div>
      <div class="col">
        <h2 class="center">Halfs</h2>
      </div>
      <div class="col">
        <h2 class="center">Other</h2>
      </div>
    </div>
  </div>
</div>
