html(lang="ru")
    head
        meta(charset="UTF-8")
        title August Raido
        meta( name="description" content="Augustraido site with blog and art")
        meta( name="keywords" content="Augustraido, august, raido, art, blog")
        link(href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet")
        link(rel="stylesheet" href="../style/404.css")
    body
        .container
            .page404
                h1 404 not found
                p Page you searching is not exist. And you too...
                p
                    a(href="/") « back