html(lang="ru")
    head
        meta(charset="UTF-8")
        title Authorization
        meta( name="description" content="Augustraido site with blog and art")
        meta( name="keywords" content="Augustraido, august, raido, art, blog")
        link(href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet")
        link(rel="stylesheet" href="../style/auth.css")
    body
        .container
            a(href="/")
                h1 augustraido
            h2 beta
            form(action="./auth.php" method="post")
                input(type="password" name="login" autofocus autocomplete="off")
                input(type="submit" value="go")
            .line
                a(href="mailto:hello@augustraido.ru" class="link")
                    img(src="img/mail.png" height="32px" alt="")
                a(href="https://augustraido.deviantart.com/gallery/" target="_blank" class="link")
                    img(src="img/da_logo.png" height="32px" alt="")