html(lang="ru")
    head
        meta(charset="UTF-8")
        title August Raido Blog
        meta( name="description" content="Augustraido site with blog and art")
        meta( name="keywords" content="Augustraido, august, raido, art, blog")
        link(href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet")
        link(rel="stylesheet" href="../style/blog.css")
    body
        .container
            h1
                a(href="/") augustraido
                span / blog
            .post
                p.date 3.12.2017
                h2 Иди своей дорогой, сталкер
                p Короче, посетитель, я домен купил, сайт сделал и в благородство играть не буду: потыкаешь пару ссылок  — и мы в расчете. Заодно посмотрим, как быстро хостинг  работает. А по твоей теме постараюсь разузнать. Хрен его знает, на кой ляд тебе этот сайт сдался, но я в чужие дела не лезу, хочешь изучать мои страницы, значит есть за что...
                hr