.container
    h1 Галерея
    .content.gallery
        .box
            .col
                img(src="img/img.png")
            .col
                img(src="img/img.png")
            .col
                img(src="img/img.png")