.container
    h1 gallery page
    .content
        .box
            .col4
                h2 lorem
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur error laudantium amet illo modi minima esse placeat quam suscipit molestias? Asperiores ipsa autem soluta sunt ab ratione et facilis odio rem quas, provident modi beatae quaerat incidunt quia odit sit ipsam placeat eos quam. Natus in dolorum inventore sint, quo tempore omnis sit aut. 
            .col4
                img(src="img/img.png")
            .col4
                h2 ipsum
                p Fuga cumque autem voluptatibus recusandae quis. Laborum sapiente, nostrum tempore ullam itaque. Laborum eveniet sapiente alias quis minima est sint esse et fugiat atque ipsum, maxime voluptatibus, inventore deleniti corrupti labore earum minus quae dolore culpa mollitia delectus quam quaerat accusantium. Quos sit ex, quibusdam illo.