.container
    h1 gallery page
    .content.raidap
        .box
            .col4
                h2.center 1
                img(src="img/img.png")
            .col4
                h2.center 2
                img(src="img/img.png")
            .col4
                h2.center 3
                img(src="img/img.png")