.container
    h1 Сеттинг
    .content.races
        .box
            .col
                h2 Proter
                ul
                    li Serter
                    li Eter
            .col
                h2.center Saxi
            .col
                h2.center Axomir
            .col
                h2.center Gialan
            .col
                h2.center Halfs
            .col
                h2.center Other