body {
    margin: 0;
    padding: 0;
//    background-color: #111;
    background-color: #ddd;
}

nav {
    background-color: #555;
    display: table;
    width: 100%;
    
    .router-link {
        display: table-cell;
        color: #ccc;
        text-align: center;
        transition: 0.2s ease;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        text-decoration: none;
        padding: 10px 0 10px;
        
        &:hover{
            color: white;
            background-color: crimson;
        }
    }
}