body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    color: #999;
}

@media screen and (min-width: 600px) {
    nav {
        width: 100vw;
    }
}

@media screen and (min-width: 960px) {
    nav {
        width: 960px;
    }
}

nav {
    background-color: transparent;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
    .router-link {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 2px solid transparent;
        
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #999;
        
        transition: 0.2s ease;
        &:hover{
            color: white;
            border-bottom: 2px solid white;
        }
    }
}

.container {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10px !important;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}

hr {
    border-color: #999;
}

//
// transitions
//

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0
}