body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    width: 100vw;
  }
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.container.center {
  text-align: center !important;
}
.container.left {
  text-align: left !important;
}
.container.right {
  text-align: right!important;
}
.container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.container .box .col1,
.container .box .col2,
.container .box .col3,
.container .box .col4,
.container .box .col5,
.container .box .col6,
.container .box .col7,
.container .box .col8,
.container .box .col9,
.container .box .col10,
.container .box .col11,
.container .box .col12 {
  flex: auto;
  text-align: left;
  margin: 1.5px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0.15%;
  margin-right: 0.15%;
}
.container .box .col1.center,
.container .box .col2.center,
.container .box .col3.center,
.container .box .col4.center,
.container .box .col5.center,
.container .box .col6.center,
.container .box .col7.center,
.container .box .col8.center,
.container .box .col9.center,
.container .box .col10.center,
.container .box .col11.center,
.container .box .col12.center {
  text-align: center;
}
.container .box .col1.right,
.container .box .col2.right,
.container .box .col3.right,
.container .box .col4.right,
.container .box .col5.right,
.container .box .col6.right,
.container .box .col7.right,
.container .box .col8.right,
.container .box .col9.right,
.container .box .col10.right,
.container .box .col11.right,
.container .box .col12.right {
  text-align: right;
}
.container .box .col1 {
  width: 8%;
}
.container .box .col2 {
  width: 14%;
}
.container .box .col3 {
  width: 24%;
}
.container .box .col4 {
  width: 32%;
}
.container .box .col5 {
  width: 36%;
}
.container .box .col6 {
  width: 48%;
}
.container .box .col7 {
  width: 56%;
}
.container .box .col8 {
  width: 64%;
}
.container .box .col9 {
  width: 68%;
}
.container .box .col10 {
  width: 72%;
}
.container .box .col11 {
  width: 90%;
}
.container .box .col12 {
  width: 100%;
}
.container .box .colauto {
/*    background-color: red;*/
    flex: auto;
    text-align: left;
    margin: 1.5px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0.15%;
    margin-right: 0.15%;
    width: auto;
}
.container .box .colauto.center {
    text-align: center;
}